<div class="container ledger-table">
    <h3 class="heading">Transaction History</h3>
    <table class="table table-hover table-dark">
        <thead class="thead-dark">
            <tr>
                <!-- <th>Transaction ID</th> -->
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Transaction Date</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transactionItem of getTransactionHistory()">
                <!-- <th>{{ transactionItem.id }}</th> -->
                <td>{{ transactionItem.getDescription() }}</td>
                <td>{{ transactionItem.getNoOfTokens() * getTokenAmount()}}</td>
                <td>{{ transactionItem.getTransactionDate() | date: "short" }}</td>

            </tr>
        </tbody>
    </table>
</div>
